<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
  <a class="navbar-brand" routerLink="/" routerLinkActive="active">{{title}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <a class="nav-link" routerLink="/" routerLinkActive="true">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/overview" routerLinkActive="active" (click)="checkForRandomOrders()">Overview</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/donation/map" routerLinkActive="active" (click)="checkForRandomOrders()">Map</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/donation/organisation" routerLinkActive="active" (click)="checkForRandomOrders()">Organisation</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/donation/list" routerLinkActive="active" (click)="checkForRandomOrders()">List</a>
      </li>

    </ul>
  </div>
</nav>
