.jumbotron{
  background-color: rgba(113, 175, 0, 0.75);
}

h1, h2, h3, p {
  text-align: center;
}

.selectedId {
  color: #ffffff;
  font-size: larger;
}

ng-container > p, img, a, button {
  /*flex: 1 0 calc(50% - 5px);*/
}

.organisation{
  margin-bottom: 2vh;
  border-bottom: 1px solid black;
}

#name {
  font-weight: bold;
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5vh;
  margin-bottom: 5vh;
  width: 50%;
}

a {
  /*color: black;*/
  text-decoration: none;
  padding: 1rem;
}
a:hover {
  font-weight: bold;
}

.linkButton{
  text-align: center;
  margin-bottom: 1vh;
}
