<div class="jumbotron">
  <p>
    Operator and responsible for the content of this website<br>
    Plant-for-the-Planet Foundation<br>
    Am Bahnhof 1<br>
    82449 Uffing am Staffelsee<br>
    Germany<br>
  </p>

  <p>
    Phone: +49 (0)8808 9345<br>
    Fax: +49 (0)8808 9346
  </p>

  <p>
    Email: support@plantshop-rainforest-reafforestation.at<br>
    Internet: http://localhost:4200
  </p>

  <p>
    Authorised Representative<br>
    Philipp Dangl
  </p>
  <p>
    German VAT Id according to § 27 a German Value Added Tax Law: DE 276314869
  </p>
  <p>
    The Plant-for-the-Planet Foundation is from the local tax office of Garmisch-Partenkirchen recognized as a charitable foundation, and
    can
    issue tax deductible receipts for donations.
  </p>
  <p>
    Bank account <br>
    Plant-for-the-Planet <br>
    Account number 200 000 <br>
    Bank code 700 20 500, Sozialbank <br>
    IBAN DE13 7002 0500 0000 200 000 <br>
    BIC BFSWDE33MUE <br>
    SWIFT BFSWDE33MUE <br>
  </p>
  <p>
    Person responsible for content <br>
    Philipp Dangl <br>
    As regards content a person responsible according to §55 paragraph 2 RStV German law are the respective authors of the concerning
    contribution or forum contribution. <br>
    The contents of our website were produced with great care. However we are not able to guarantee the total accuracy, integrity and
    currency
    of those contents. As a service provider we are responsible under the general law § 7 paragraph 1 TMG for the contents of our pages.
    Service providers are however not obligated to monitor the content that is submitted or stored from foreign sources or to investigate
    circumstances that indicate illegal activities. Under the general laws, obligations to remove or block access to information remain
    thereby unaffected. Liability is however only possible from the time of realisation that an infringement has occurred. If we become
    aware
    of such a violation, we will be sure to remove the contents immediately.<br>
  </p>
  <p>
    Liability<br>
    In spite of careful content control we take over no liability for the contents of external links. For the contents of linked sites are
    responsible excluding their operators.<br>
  </p>
</div>
